.info_user {

}

.info_user:hover {
	background: url('../images/info_user.gif') no-repeat bottom right;
	padding-right: 16px;
}

#info_tip {
    background: #fff;
	border: 1px solid #999;
	width: 200px;
	display: none;
	position: absolute;
	text-align: left;
	z-index: 101;
}

/* user tip */
.user_tip {
    border: 1px solid #999;
    font-size: 12px;
    font-family: tahoma;
    width: 220px;
}

.user_tip ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.user_tip ul li {
    line-height: 20px;
}

.user_tip .tip_header {
    padding: 8px;
}

.user_tip .tip_header .user_face {
    width: 50px;
    height: 50px;
    border: 1px solid #666;
    margin-right: 5px;
}

.user_tip .base_info {
    margin-top: 10px;
    padding: 5px 8px;
    border-top: 1px solid #eee;
    clear: both;
}

.user_tip .tip_bottom {
    background: #F1F7F7;
    margin-top: 10px;
    padding: 5px 8px;
    border-top: 1px solid #eee;
}