html {
    
}

body {
	font-size: 12px;
	font-family: tahoma;
	color: #333;
}

a {
    color: #308AC6;
	text-decoration: none;
}

.tip {
	background-color: #FFFFCC;
	border: 1px dotted gray;
	padding: 8px;
	margin: 8px 0px;
	line-height: 18px;
}

.rate {
	text-align: right;
	margin-right: 10px;
}